<!-- 


    <form class="flex flex-col w-full " [formGroup]="formRegisterClient" (ngSubmit)="registerClient()">

         (change)="inputchild($event)" -->
    <!-- <label class=" font-bold rtl-dir text-right mr-2 mt-2 mb-2"  >{{title}}</label> -->
    <!-- <div class="flex flex-col w-full"> -->
        <!-- @ToDo move classes tio css file-->
        <!-- <input [id]="id" class="{{classname}}" [ngClass]="( ltr ? '': 'text-right')"  [hidden]="textArea"  [formControlName]="inputName"  [placeholder]="placeholder" autocomplete="off" type="{{Type}}">
        <div class="w-full block text-rose-500 mt-2 text-xs irsans-m text-center rtl-dir " *ngIf="formRegisterClient.controls['name'].invalid && inputName==='name' ">{{getErrorMessageName(inputName)}}</div>  
        <div class="w-full block text-rose-500 mt-2 text-xs irsans-m text-center rtl-dir " *ngIf="formRegisterClient.controls['email'].invalid && inputName==='email' ">{{getErrorMessageName(inputName)}}</div> 
        <div class="w-full block text-rose-500 mt-2 text-xs irsans-m text-center rtl-dir " *ngIf="formRegisterClient.controls['number'].invalid && inputName==='number' ">{{getErrorMessageName(inputName)}}</div> 
        <div class="w-full block text-rose-500 mt-2 text-xs irsans-m text-center rtl-dir " *ngIf="formRegisterClient.controls['PhonNumber'].invalid && inputName==='PhonNumber' ">{{getErrorMessageName(inputName)}}</div> 
    </div>
    
    <div>
        <textarea [ngClass]="classname &&( ltr ? 'inputform': 'inputform text-right') " [hidden]="!textArea" [formControlName]="inputName" [placeholder]="placeholder" autocomplete="off" type="text" rows="3" >
        </textarea>
    </div>
    </form> -->

 
