
<!-- <div class="">

    <label class="{{classTitle}}" [ngClass]="( ltr ? '': 'text-right')" >{{title}}</label>
    <input 
     id="{{id}}"  
     class="{{classinput}}" 
     [ngClass]="( ltr ? '': 'text-right')" 
     type="{{type}}" 
     
     placeholder="{{placeholder}}" 
     
     [(ngModel)]="input"
     (ngModelChange)="onChange($event)"
     (blur)="onTouch()"
     >
    <div  class="{{classMessage}}" [ngClass]="( ltr ? '': 'text-right')"> {{messageError}}</div>

</div> -->

<!-- (change)="emitInput($event)"  -->