
<div class="rounded-full border-blue-600 border flex flex-row  left-2 h-4 w-full items-stretch  relative  py-6 px-1 shadow-lg  ">
    <button class="flex flex-row space-x-1 items-center  hover:text-blue-500">
        <div class='w-10 h-10 bg-blue-500 rounded-full '></div>
        <h6 class='tracking-widest text-xl font-mono font-medium'> ---</h6>
    </button> 
    <input class="relative  left-4 outline-none font-medium px-4 mr-5 flex-grow bottom-4 h-8 w-5  dark:bg-slate-900 "  placeholder='123  456  7890' mask="999 999 9999">
</div>


<!-- outline-none -->